# Powerball Numbers
------
I found this continually updated dataset of powerball numbers, and thought it might eventually be a good thing for a blog post involving time series etc.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
winning_numbers = 'http://www.powerball.com/powerball/winnums-text.txt'
header  = ['Date','WB1','WB2','WB3','WB4','WB5','PB','PP'] 
pball = pd.read_table(winning_numbers,delimiter='\s+',skiprows=1,header = None,index_col=False)
pball.columns = header
pball.Date = pd.to_datetime(pball.Date,format='%m/%d/%Y')
pball.head()

        Date  WB1  WB2  WB3  WB4  WB5  PB   PP
0 2017-04-29   24   22   23   62   45   5  2.0
1 2017-04-26   18    1   51   15   26  26  4.0
2 2017-04-22   39   21   48   41   63   6  3.0
3 2017-04-19    1   19   52   40   37  15  3.0
4 2017-04-15   61   26   45    5   22  13  3.0

In [7]:
pball.describe()

,WB1,WB2,WB3,WB4,WB5,PB,PP
count,2035.000000,2035.000000,2035.000000,2035.000000,2035.000000,2035.000000,1476.000000
mean,28.588698,27.678624,28.694349,28.644717,28.635872,19.640786,3.369241
std,16.245213,16.900365,16.343743,16.169185,16.334525,11.346912,1.270196
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,15.000000,13.000000,14.000000,15.000000,15.000000,10.000000,2.000000
50%,29.000000,26.000000,29.000000,28.000000,29.000000,19.000000,3.000000
75%,42.000000,42.000000,42.000000,41.000000,42.000000,29.000000,4.000000
max,69.000000,69.000000,69.000000,69.000000,69.000000,42.000000,10.000000

In [20]:
sns.factorplot('WB1','WB2','WB3',data=pball)

In [ ]:
[pball.WB1,pball.WB2,pball.WB3,pball.WB4,pball.WB5]